{% extends 'root.html' %}

{% block body %}

<body id="body" class="flex-с">
    <nav id="side-menu" class="flex-c">
        <div id="top-btns" class="btn-block flex-c">
            <a href="{{ url_for('main.welcome') }}" class="nav-a-btn">
                <button class="btn-2"> Вход </button>
            </a>
            <a href="{{ url_for('main.welcome') }}" class="nav-a-btn">
                <button class="btn-2"> Регистрация </button>
            </a>
        </div>

        <div id="bot-btns" class="btn-block flex-c">
            <a href="{{ url_for('main.welcome') }}" class="nav-a-btn">
                <button class="btn-1"> Главная </button>
            </a>
            <a href="{{ url_for('chat.tos') }}" class="nav-a-btn">
                <button class="btn-1"> Анонимный чат </button>
            </a>
        </div>
    </nav>

    <div id="master" class="flex-c">
        {% block in_master %}{% endblock %}
    </div>

</body>

{% block script %}{% endblock %}

{% endblock %}