<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

    <link
        rel="icon"
        href="{{ url_for('static', filename='favicon_io/favicon.ico') }}"
        type="image/x-icon"
    />

    <link rel="manifest"  href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Oluja</title>
    {% block in_head %}{% endblock %}
</head>

{% block body %}{% endblock %}

</html>