{% extends 'base.html' %}

{% block in_master %}

<header id="tos-header" class="header row-panel pad-1">
    <p id="warn-text">
        Нажимая кнопку продолжить, вы принимаете условия действующего пользовательского соглашения.
    </p>
    <a href="{{ url_for('chat.chat') }}" class="agree-a-btn">
        <button class="btn-3"> Продолжить </button>
    </a>
</header>

<main id="content" class="content flex-c flex-expand pad-1">
    <section id="heading" class="flex-c">
        <h3>Пользовательское соглашение</h3>
    </section>

    <section>
        <h3>1. Общие положения</h3>
        <ul class="unstyled">
            <li>1.1. Настоящее пользовательское соглашение (далее – "Соглашение") регулирует отношения между пользователем (далее – "Пользователь") и владельцем анонимного чата (далее – "Администрация") по поводу использования анонимного чата (далее – "Чат").</li>
            <li>1.2. Пользователь, используя Чат, подтверждает своё согласие с условиями данного Соглашения.</li>
            <li>1.3. Если Пользователь не согласен с условиями Соглашения, он должен немедленно прекратить использование Чата.</li>
        </ul>
    </section>

    <section>
        <h3>2. Использование чата</h3>
        <ul class="unstyled">
            <li>2.1. Чат предназначен для анонимного общения. Регистрация или предоставление личных данных не требуется.</li>
            <li>2.2. Пользователь обязуется не разглашать личную информацию (свою или третьих лиц) в Чате.
            <li>2.3. Запрещается использование Чата для распространения незаконных материалов, а также: 
                <ul>
                    <li>-публикации оскорбительных, порнографических материалов; </li>
                    <li>-распространения спама, рекламы или фишинговых ссылок; </li>
                    <li>-обсуждения и планирования противоправных действий. </li>
                </ul>
            </li>
        </ul>
    </section>

    <section>
        <h3>3. Права и обязанности Администрации</h3>
        <ul class="unstyled">
            <li>3.1. Администрация имеет право модифицировать или закрыть Чат в любое время без предварительного уведомления.</li>
            <li>3.2. Администрация имеет право ограничить или заблокировать доступ Пользователя в случае нарушения настоящего Соглашения.</li>
            <li>3.3. Администрация имеет право удалять сообщения в Чате по любой причине и без.</li>
            <li>3.4. Администрация не несёт ответственности за содержание сообщений, передаваемых через Чат, и не проводит мониторинг всех сообщений.</li>
        </ul>
    </section>

    <section>
        <h3>4. Права и обязанности Пользователя</h3>
        <ul class="unstyled">
            <li>4.1. Пользователь обязуется использовать Чат исключительно в законных целях.</li>
            <li>4.2. Пользователь несёт полную ответственность за свои действия и материалы, которые он публикует в Чате.</li>
            <li>4.3. Пользователь имеет право на удаление своих сообщений и на отказ от использования Чата в любое время.</li>
        </ul>
    </section>

    <section>
        <h3>5. Конфиденциальность и безопасность</h3>
        <ul class="unstyled">
            <li>5.1. Чат не собирает и не хранит личную информацию Пользователей.</li>
            <li>5.2. Пользователь осознает, что любое сообщение, отправленное в Чате, может быть увидено другими пользователями и несет риски, связанные с утечкой информации.</li>
            <li>5.3. Администрация предпринимает разумные меры для защиты Чата, но не гарантирует полную безопасность от утечек данных или кибератак.</li>
        </ul>
    </section>

    <section>
        <h3>6. Ограничение ответственности</h3>
        <ul class="unstyled">
            <li>6.1. Чат предоставляется "как есть", без каких-либо гарантий, явных или подразумеваемых.</li>
            <li>6.2. Администрация не несёт ответственности за любые убытки или ущерб, возникшие в результате использования или невозможности использования Чата.</li>
        </ul>
    </section>

    <section>
        <h3>7. Изменение условий Соглашения</h3>
        <ul class="unstyled">
            <li>7.1. Администрация оставляет за собой право вносить изменения в настоящее Соглашение в любое время и без предупреждения.</li>
            <li>7.2. Продолжение использования Чата после внесения изменений означает согласие Пользователя с новыми условиями.</li>
            <li>7.3. Если Пользователь не согласен с внесёнными изменениями, он обязан прекратить использование Чата.</li>
        </ul>
    </section>

    <section>
        <h3>8. Заключительные положения</h3>
        <ul class="unstyled">
            <li>8.1. Все споры, возникающие в связи с настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.</li>
            <li>8.2. Если какое-либо положение настоящего Соглашения будет признано недействительным или неисполнимым, это не повлияет на действительность остальных положений.</li>
        </ul>
    </section>
</main>

<footer class="footer row-panel pad-1">
    <span class="obfs">ur.akpos@xam</span>
    <a href="https://github.com/">GitHub</a>
</footer>

{% endblock %}